.appBar {
  display: grid !important;
  place-items: center !important;
  grid-template-columns: 1fr 2fr !important;
  /* padding: 10px 50px; */
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0.4rem 1rem;
}
.brandContainer {
  display: grid;
  justify-content: flex-start !important;
  width: 100%;
}
.app-Bar {
  border-radius: 15px;
  padding: 0rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 1rem !important;
  /* padding: 1rem !impor
  aliitant; */
  /* height: 7rem; */

  /* margin: 30px 0; */
}
.toolbar {
  /* padding: 0 !important; */
  width: 100% !important;
}
.profile {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}
@media (min-width: 540px) and (max-width: 780px) {
  .appBar {
    border-radius: 8px !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* padding: 10px 30px; */
  }
  .prof-top {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.4rem;
  }
  .toolbar {
    place-items: center !important;
  }

  .profile {
    width: 100% !important;
    place-items: center;
    display: grid !important;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between !important;
    align-items: center !important;
  }
}

.btn {
  display: grid !important;
  justify-content: center !important;
  place-content: center;
  padding: 1.4rem !important;
  align-items: center !important;
  height: 3rem;
}
@media screen and (max-width: 540px) {
  .appBar {
    border-radius: 8px !important;
    grid-template-columns: 1fr !important;
    place-items: center !important;
    width: 100% !important;
    justify-content: center;
    padding: 0 !important;
  }
  .toolbar,
  .profile {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    font-size: 0.9rem !important;
    width: fit-content !important;
  }
  .prof-top {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.4rem;
  }
  .brandContainer {
    justify-content: center !important;
  }
  .profile {
    width: 100% !important;
    display: grid;
    place-items: center;
    gap: 0.4rem;
  }
  .heading {
    font-size: 2rem !important;
  }
  .image {
    height: 2rem !important;
    width: 2rem !important;
  }
  .prof-top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between !important;
    width: 100%;
  }
  .purple {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
  .userName {
    font-size: 1rem !important;
  }
  .btn {
    height: 2.4rem !important;
    font-size: 0.8rem !important;
    width: 100%;
  }
}
.heading {
  color: rgba(0, 183, 255, 1);
  text-decoration: none;
}
image {
  margin-left: 15px;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.userName {
  display: flex;
  align-items: center;
}
.brandContainer {
  display: flex;
  align-items: center;
}

.logout {
  display: flex;
}

.prof-top {
  display: flex;
  gap: 0.8rem;
  grid-template-columns: 1fr 3fr;
  place-items: center !important;
}
